@model string

@{
    ViewData["Title"] = "Changing Password";
}

<header>
    <nav class="navbar fixed-top navbar-dark bg-secondary box-shadow mb-3 justify-content-between">
        <div class="d-flex">
            <a class="navbar-brand text-light ms-3" asp-area="" asp-controller="Home" asp-action="Index">
                <i class="bi bi-collection"></i>
                CollectIt
            </a>
        </div>
    </nav>
</header>
<div class="container">
    <div class="login-container shadow">

        @if (Model != null)
        {
            <div class="alert alert-success text-center" role="alert">
                @Model
            </div>
        }
        <div class="logo">
            <img src="https://scalebranding.com/wp-content/uploads/2022/02/Letter-R-Logo-2-2-1024x1024.jpg" alt="LeetCode Logo">
        </div>
        <form method="post" asp-action="ChangingPassword" name="changingPassword">
            <div class="form-group">
                <input type="email" class="form-control" id="email" name="email" placeholder="Email">
            </div>
            <div class="form-group mt-4">
                <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="New Password">
            </div>
            <div class="form-group mt-4">
                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password">
            </div>
            <div class="d-flex justify-content-between mt-5">
                <a href="@Url.Action("Index", "Auth")" class="nav-link text-secondary">
                    Log in
                </a>
                <button type="submit" class="btn btn-outline-success">Reset password</button>
            </div>
        </form>
    </div>
</div>